# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db
.env

# Node
node_modules/
dist/
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/

# Logs
*.log
